*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

i{
	margin: 0 30px;
	color: white;

}
.nav-wrapper a{
	font-family: 'Permanent Marker', cursive;
	font-size: 2.5em;
}
.content{
	background-color: #F6CECE;
	margin-top: 10%;
	border-radius: 10px;
	box-shadow: 10px 10px 5px 0px rgba(224,215,222,1);

}
input::-webkit-input-placeholder {
  color: white;
}
#boton{
	border-radius: 100%;
	margin: 10px;
	height: 60px;
	background-color: #04B4AE;
	border: none;
}
.prueba input{
	color: black;

}

h1{
	font-size: 2.8em
}

li{
	list-style: none;
	font-family: 'Patrick Hand SC', cursive;
	font-size: 2em;
}
li:hover{
	background-color: #04B4AE;
	box-shadow: 10px 10px 5px 0px rgba(224,215,222,1);
	border-radius: 5px;
}


.onHover{
	color: white;
	margin: 30px;
}
.remove{
	background-color: transparent;
	color: red;
	border: none;
}

